
html,body,ul,li{
	margin:0;
	padding:0;
}
html,body{
	background-color:#2194d3;
}
*{box-sizing:border-box;}
.toubu{
	background-image:url(../img/fangda-02.png);
	background-repeat:repeat-x;
}
.header{
	background-image:url(../img/fangda.png);
	background-position:center 0;
	background-repeat:no-repeat;
	height:460px;
}
.w987{
	width:987px;
	margin:0 auto;
}
.today{
	display:inline-block;
	border:1px solid #57addd;
	font-size:12px;
	color:#ffffff;
	background-color:#1689c8;
	padding:3px 9px 3px 5px;
	border-radius:6px;
	font-weight:bold;
	margin-top:390px;
}
.yellow{color:#ffde00;}
.search{
	float:right;
	display:block;
	width:240px;
	background-color:#ffffff;
	border:1px solid #e0e0e0;
	background-image:url(../img/fangda-01.png);
	background-repeat:no-repeat;
	border-radius:10px;
	height:26px;
	margin-top:390px;
}
.blue{
	display:inline-block;
	background-color:#007cc0;
	border:1px solid #73b5d9;
	color:#ffffff;
	border-radius:7px;
	float:right;
	font-size:12px;
	margin:0 1px;
	padding:4px 5px;
}
.centent{
	background-color:#ffffff;
	border-radius:4px;
	padding:10px;
}
.centent:after{
	content:'';
	display:block;
	clear:both;
}
.block{
	width:50%;
	float:left;
	padding:10px;
	color:azure;
}
.block ul{
	background:#e8f4fb;
	padding:10px 0 15px 0;
}
li a{
	display:block;
	color:#333333;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	line-height:25px;
	padding:0 0 0 15px;
}
li a:before{
	content:'';
	display:inline-block;
	height:6px;
	width:6px;
	background-color:#2194d3;
	border-radius:50%;
	margin-right:15px;
}
h2{
	margin:0 5px 30px 10px;
}
h2 a{
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:#0076b7;
}
.font{
	font-size:12px;
	float:right;
	margin-top:-8px;
}
.dashed{
	display:block;
	margin:-10px 0 0 70px;
	border:1px dashed #d0d0d0;
	width:70%;
}
.lianjie{
	border:1px solid #54acdd;
	background:#1187c8;
	text-align:center;
	margin:12px auto;
	padding:5px 0 6px 0;
	width:30%;
	color:#ffffff;
	border-radius:13px;
	font-size:14px;
}
.footer{
	text-align:center;
	padding:10px 0;
	line-height:21px;
	color:#01598a;
	font-size:12px;
}