@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
*{ margin:0; padding:0; list-style:none;}
h1, h4 {margin:10px auto;width:810px;color:#FF0C8A;	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);}

#lanrenzhijia {	margin:0 auto;padding:0;width:810px;font-size:0;zoom:1;}
#lanrenzhijia:after {content:"";display:block;height:0;clear:both;visibility:hidden;}
#lanrenzhijia li {list-style-type:none;	float:left;	width:190px;height:145px;margin-right:1px;margin-bottom:1px;text-align:center;display:table;position:relative;}
#lanrenzhijia li a {display:table-cell;	vertical-align:middle;*display: block;*font-size: 175px;*font-family:Arial;	text-align:center;}
#lanrenzhijia img {border:none;vertical-align:middle;width:190px;height:145px;}
#lanrenzhijia i {display:block;width:100%;height:100%;position:absolute;left:0;	top:0;}
#lanrenzhijia .opacity_bg {	background:#000;opacity:0.4;}